<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="command" xsi:type="object">Mramirez\Migrator\Console\Command</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="mramirez_migrator_employees_list_data_source" xsi:type="string">Mramirez\Migrator\Model\ResourceModel\Employees\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Mramirez\Migrator\Model\ResourceModel\Employees\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">eav_employees_entity</argument>
            <argument name="resourceModel" xsi:type="string">Mramirez\Migrator\Model\ResourceModel\Employees</argument>
        </arguments>
    </virtualType>
</config>